ui = true

storage "raft" {
  path = "/var/lib/vault"
  node_id = "{{ ansible_hostname }}"

  {% for server in vars['play_hosts'] %}
  retry_join {
        leader_api_addr = "http://{{ hostvars[server].ansible_host }}:8200"
    }

  {% endfor %}
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_disable = 1

  telemetry {
    unauthenticated_metrics_access = true
  }
}

api_addr = "http://{{ ansible_host }}:8200"
cluster_addr = "http://{{ ansible_host }}:8201"

disable_mlock = true