[Unit]
Description=vault server
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/vault
Restart=on-failure
ExecStart=/usr/local/bin/vault server -config=/etc/vault/config.json
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target