{
    "CN": "client",
    "hosts": [
        ""
    ],
    "key": {
        "algo": "ecdsa",
        "size": 521
    },
    "names": [
        {
            "C": "ID",
            "L": "Bandung",
            "O": "etcd",
            "OU": "armk8s.net",
            "ST": "Jawa Barat"
        }
    ]
}